<h1 mat-dialog-title>Confirmar</h1>
<div mat-dialog-content>
  <p>¿En verdad quieres subir los archivos?</p>
  <p>Los archivos en rojo no pueden ser subidos ya que pesan mas de 4k</p>
  <div class="filesList">
      <h3 *ngFor="let file of data" [ngClass]="{forbidden: file.size > 8192}">{{file.name}}</h3>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Ok</button>
</div>